#wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 111px 0 0;
    @include bp($Mobile) {
        padding: 55px 0 0;
    }
}
#header{
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: $colorLink;
    align-items: center;
    padding: 32px 50px;
    box-sizing: border-box;
    width: 100%;
    z-index: 200;
    position: fixed;
    top: 0;
    @include anim($dur: .3s);
    &.header__fixed {
        top: 0;
        left: 0;
    }
    @include bp($Mobile) {
        padding: 16px 25px;
    }
}
#main{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    padding: 55px 50px;
    box-sizing: border-box;
    & > div {
        display: block;
        width: 100%;
    }
    &.agreement {
        padding: 0;
    }
    &.borrower-payment {
        padding: 45px 0;
    }
    &.borrower-status {
        padding: 47px 49px;
    }
    &.borrower-partners {
        padding: 65px 50px;
    }
    &.profile {
        padding: 0;
    }
    &.wallet {
        padding: 0;
    }
    &.support {
        padding: 70px 50px 230px 50px;
        height: calc(100vh - 435px);
        overflow: auto;
    }
    @include bp($Mobile) {
        padding: 25px;
        &.borrower-payment {
            padding: 22px 0;
        }
        &.borrower-status {
            padding: 23px 24px;
        }
        &.borrower-partners {
            padding: 32px 25px;
        }
        &.support {
            padding: 35px 25px 115px 25px;
            height: calc(100vh - 217px);
        }
    }
}
#sidenav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    &:before {
        content: '';
        background: rgba(000,000, 000, 0.5);
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        will-change: opacity;
        transition: opacity .3s cubic-bezier(0,0,0.3,1);
    }
}

#sidebar {
    padding: 45px 50px 0 50px;
    background: #f2f2f2;
    &.go-back {
        padding: 46px 50px;
    }
    &.top-title {
        padding: 46px 50px;
        background: #f2f2f2;
        span {
            font-size: 1.5em;
        }
    }
    @include bp($Mobile) {
        padding: 22px 25px 0 25px;
        &.go-back {
            padding: 23px 25px;
        }
        &.top-title {
            padding:  23px 25px;
        }
    }
}