.credit-allpaid{
    text-align: center;
    .title {
        margin: 0 0 35px;
        span {display: block;}
        &:before{
            content: '\e91f';
            font-family: 'icomoon';
            background: #e2e2e2;
            width: 165px;
            height: 165px;
            line-height: 165px;
            color: #fff;
            font-size: 1.8em;
            display: block;
            margin: 43px auto 53px;
            border-radius: 50%;
        }
    }
    .subtitle {
        text-align: center;
        padding: 0 80px;
        margin: 0 0 45px;
        font-size: 1.166em;
        line-height: 1.3;
        color: $colorTextHalf;
    }
    @include bp($Mobile) {
        .title {
            margin: 0 0 17px;
            &:before {
                width: 82px;
                height: 82px;
                line-height: 82px;
                margin: 21px auto 26px;
            }
        }
        .subtitle {
            padding: 0 40px;
            margin: 0 0 22px;
        }
    }
}