.borrower-partners__programm {
    width: 100%;
    &-info {
        position: relative;
        margin: 0 0 4px 0;
        .on_wallet {
            display: block;
            color: $colorTextHalf;
            font-size: 1.166em;
            margin-bottom: 14px;
        }
        .value {
            display: inline-block;
            font-size: 3em;
        }
        .currency {
            display: inline-block;
            font-size: 1.666em;
            position: relative;
        }
        .help-icon {
            &:before {
                right: -61px;
                top: -11px;
                transform: none;
                font-size: 0.7em;
            }
        }
    }
    &-summ {
        margin: 0 0 55px;
        color: $colorTextHalf;
        font-size: 1.166em;
        span {
            font-size: 2.4rem;
        }
    }
    &-link {
        color: $colorTextHalf;
        .link-txt {
            display: block;
            font-size: 1.166em;
            margin: 0 0 25px;
        }
    }
    &__conditions {
        margin: 0 0 85px;
        .icon-conditions {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 1.166em;
            &:before {
                font-size: 1.9em;
                line-height: 1.2;
                margin-right: 28px;
            }
        }
    }
    .button {
        background: $colorLink;
        color: #fff;
        margin: 0 0 33px;
    }
    @include bp($Mobile) {
        &-info {
            margin: 0 0 2px 0;
            .on_wallet {
                margin-bottom: 7px;
            }
            .help-icon {
                &:before {
                    right: -30px;
                    top: -5px;
                }
            }
        }
        &-summ {
            margin: 0 0 27px;
            span {
                font-size: 1.2rem;
            }
        }
        &-link {
            .link-txt {
                margin: 0 0 12px;
            }
        }
        &__conditions {
            margin: 0 0 42px;
            .icon-conditions {
                &:before {
                    margin-right: 14px;
                }
            }
        }
        .button {
            margin: 0 0 16px;
        }
    }

}

.bonus-tablet {
    .title {
        font-size: 1.716em;
        margin: 0 0 52px 0;
    }
    .titles-tablet {
        color: $colorTextHalf;
        font-size: 1.166em;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-bottom: 18px;
        &__date {
            display: inline-block;
            width: 33.4%;
        }
    }
    .chart-tablet {
        &__item {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            flex-wrap: nowrap;
            padding: 55px 0 49px 0;
            border-top: 2px solid #ededed;
            .item-date {
                display: inline-block;
                width: 33.4%;
                .date {
                    display: block;
                    font-size: 1.33em;
                    color: $colorTextQuater;
                    margin: 0 0 20px;
                }
                .time {
                    display: block;
                    font-size: 1.33em;
                    color: $colorTextHalf;
                }
            }
            .item-credit {
                .credit-title {
                    display: block;
                    font-size: 1.33em;
                    color: $colorTextQuater;
                    margin: 0 0 18px;
                    .currency {
                        font-size: 1.7rem;
                    }
                }
                .bonus {
                    span:first-child {
                        color: $colorTextHalf;
                        font-size: 1.166em;
                    }
                    .bonus-win {
                        color: $colorText;
                        font-weight: 500;
                        font-size: 1.33em;
                        .currency {
                            font-size: 1.4rem;
                            color: $colorText;
                        }
                    }
                }
            }
        }
    }
    @include bp($Mobile) {
        .title {
            margin: 0 0 26px 0;
        }
        .titles-tablet {
            margin-bottom: 9px;
        }
        .chart-tablet {
            &__item {
                padding: 27px 0 25px 0;
                .item-date {
                    .date {
                        margin: 0 0 10px;
                    }
                }
                .item-credit {
                    .credit-title {
                        margin: 0 0 9px;
                        .currency {
                            font-size: 0.8rem;
                        }
                    }
                    .bonus {
                        .bonus-win {
                            .currency {
                                font-size: 0.8rem;
                            }
                        }
                    }
                }
            }
        }
    }
}