.borrower-devices {
    display: block;
    width: 100%;
    .devices-list {
        display: flex;
        flex-direction: column;
        &__item {
            padding: 53px 50px;
            display: flex;
            align-items: flex-start;
            position: relative;
            border-top: 2px solid #ededed;
            color: $colorText;
            &:first-child {
                border: none;
            }
            &:last-child {
                border-bottom: 2px solid #ededed;
            }
            .device-icon {
                display: block;
                width: 24.5%;
                a[class*='icon'] {
                    display: block;
                    position: relative;
                    &:before {
                        font-size: 3em;
                        position: absolute;
                        color: $colorText;
                        left: 37%;
                        transform: translateX(-50%);
                        top: 5px;
                    }
                }
                a.icon-ic_windows {
                    &:before {
                        font-size: 2.3em;
                        top: 11px;
                    }
                }
                a.icon-ic_ipod {
                    &:before {
                        font-size: 3.1em;
                        top: 10px;
                    }
                }
            }
            .device-info {
                display: block;
                width: 75.3%;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 30%;
                    height: 100%;
                    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 95%,rgba(255,255,255,1) 100%);
                    z-index:5;
                }
                &__os {
                    display: block;
                    margin: 0 0 20px;
                    font-size: 1.33em;
                    width: 100%;
                    .browser {
                        opacity: 0.5;
                    }
                }
                &__location {
                    display: block;
                    font-size: 1.166em;
                    margin: 0 0 40px;
                    opacity: 0.5;
                    animation: runner 5s infinite;
                }
                &__used {
                    display: block;
                    font-size: 1.166em;
                }
            }
            .device-turn__off {
                position: absolute;
                bottom: 47px;
                right: 75px;
                width: 36px;
                height: 36px;
                background: transparent;
                border: 4px solid #ff0000;
                border-radius: 50%;
                z-index: 10;
                &:before {
                    content: '';
                    display: block;
                    width: 4px;
                    height: 40px;
                    background: #ff0000;
                    position: absolute;
                    left: 17px;
                    top: -3px;
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
            }
            &.use__now {
                color: $colorLink;
                .device-icon {
                    a[class*='icon'] {
                        &:before {
                            color: $colorLink;
                        }
                    }
                }
            }
            &.use__recently {
                color: $colorText;
                a[class*='icon'] {
                    .icon-mobile {
                        &:before {
                            color: $colorText;
                        }
                    }
                }
            }
            &.use__long {
                color: #a3a3a3;
                .device-icon {
                    a[class*='icon'] {
                        &:before {
                            color: #a3a3a3;
                        }
                    }
                }
                .device-info__os {
                    .browser {
                        opacity: 1;
                    }
                }
                .device-info__location {
                    opacity: 1;
                }
            }
        }
    }
    @include bp($Mobile) {
        .devices-list {
            &__item {
                padding: 25px;
                color: $colorText;
                .device-icon {
                    a[class*='icon'] {
                        &:before {
                            top: 4px;
                        }
                    }
                }
                .device-info {
                    &__os {
                        margin: 0 0 10px;
                    }
                    &__location {
                        margin: 0 0 20px;
                    }
                    &__used {
                    }
                }
                .device-turn__off {
                    bottom: 24px;
                    right: 37px;
                    width: 18px;
                    height: 18px;
                    border: 2px solid #ff0000;
                    &:before {
                        width: 2px;
                        height: 20px;
                        left: 8px;
                        top: -1px;
                    }
                }
            }
        }
    }
}