.borrower-wallet {
    width: 100%;
    .borrower-wallet__holder {
        padding: 65px 50px 95px 50px;
    }
    &__inner {
        position: relative;
        margin: 0 0 50px;
        .on_wallet {
            display: block;
            color: $colorTextHalf;
            font-size: 1.166em;
            margin-bottom: 14px;
        }
        .value {
            display: inline-block;
            font-size: 3em;
        }
        .currency {
            display: inline-block;
            font-size: 1.666em;
            position: relative;
        }
        .help-icon {
            &:before {
                right: -61px;
                top: -11px;
                transform: none;
                font-size: 0.7em;
            }
        }
    }
    &__pay {
        padding-left: 3px;
        .icon-pay_credit {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 1.166em;
            &:before {
                font-size: 1.5em;
                line-height: 1.2;
                margin-right: 28px;
            }
        }
    }
    .button {
        background: $colorLink;
        color: #fff;
        margin: 0 0 45px;
    }
    &__transactions {
        .title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 50px;
            margin: 0 0 55px;
            span {
                font-size: 1.666em;
            }
            .transactions-icons {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                .icon-sort {
                    display: block;
                    &:before {
                        font-size: 1.6em;
                        margin-right: 53px;
                    }
                }
                .icon-calendar {
                    display: block;
                    &:before {
                        font-size: 1.6em;
                    }
                }
            }
        }
        .titles-tablet {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0 50px 18px 50px;
            font-size: 1.166em;
            color: $colorTextHalf;
            &__date {
                display: inline-block;
                width: 35%;
            }
        }
        .transactions-tablet {
            &__item {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-flow: row wrap;
                padding: 56px 50px 47px 50px;
                border-top: 2px solid #e5e5e5;
                box-sizing: border-box;
                &:last-child {
                    border-bottom: 2px solid #e5e5e5;
                }
            }
            .item-date {
                display: inline-block;
                width: 35%;
                .date {
                    display: block;
                    font-size: 1.33em;
                    color: $colorTextQuater;
                    margin: 0 0 15px;
                }
                .time {
                    display: block;
                    font-size: 1.33em;
                    color: $colorTextHalf;
                }
            }
            .item-payment {
                display: inline-block;
                width: 60%;
                position: relative;
                .item-title {
                    display: block;
                    font-size: 1.33em;
                    color: $colorTextQuater;
                    margin: 0 0 25px;
                }
                .transfer-money {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding-left: 5px;
                    .icon-wallet {
                        margin: 0 31px 0 0;
                        &:before {
                            font-size: 1.7em;
                            color: $colorTextHalf;
                        }
                    }
                    .arrow {
                        position: relative;
                        display: inline-block;
                        width: 26px;
                        height: 20px;
                        margin: 0 27px 0 0;
                        span {
                            position: absolute;
                            left: 0;
                            top: 9px;
                            width: 26px;
                            height: 2px;
                            background: #a6a6a6;
                        }
                        &:before,
                        &:after {
                            content: '';
                            position: absolute;
                            background: #a6a6a6;
                            width: 14px;
                            height: 2px;
                            display: none;
                        }
                        &.right {
                            &:before,
                            &:after {
                                display: block;
                                left: 13px;
                                top: 3px;
                                transform: rotate(47deg);
                            }
                            &:after {
                                top: 15px;
                                transform: rotate(-45deg);
                            }
                        }
                        &.left {
                            span {
                                left: 1px;
                            }
                            &:before,
                            &:after {
                                display: block;
                                left: 0;
                                top: 3px;
                                width: 14px;
                                height: 2px;
                                transform: rotate(-47deg);
                            }
                            &:after {
                                top: 15px;
                                transform: rotate(45deg);
                            }
                        }
                    }
                    .value {
                        color: $colorText;
                        font-size: 1.33em;
                        font-weight: 500;
                        .currency {
                            font-size: 1.45rem;
                        }
                    }
                }
            }
            .icon-read_more {
                position: absolute;
                right: -19px;
                top: 10px;
                width: 15px;
                height: 15px;
                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 4px;
                    height: 18px;
                    background: #000;
                    transform: rotate(-45deg);
                    @include anim($dur: .3s);
                }
                &:after {
                    left: 10px;
                    transform: rotate(45deg);
                }
            }
            .transactions-tablet__inner {
                display: block;
                width: 100%;
                max-height: 0;
                opacity: 0;
                pointer-events: none;
                @include anim($dur: .3s);
                .transactions-item__inner {
                    display: flex;
                    align-items: flex-start;
                    flex-flow: row wrap;
                    width: 100%;
                    margin-top: 45px;
                    padding: 45px 0 0 0;
                    border-top: 2px solid #f2f2f2;
                }
            }
            &__item.is_pay-open {
                .transactions-tablet__inner {
                    max-height: 600px;
                    opacity: 1;
                    pointer-events: auto;
                }
                .icon-read_more {
                    &:before {
                        transform: rotate(-135deg);
                    }
                    &:after {
                        transform: rotate(135deg);
                    }
                }
            }
        }
    }
    @include bp($Mobile) {
        width: 100%;
        .borrower-wallet__holder {
            padding: 32px 25px 47px 25px;
        }
        &__inner {
            margin: 0 0 25px;
            .on_wallet {
                margin-bottom: 7px;
            }
            .help-icon {
                &:before {
                    right: -30px;
                    top: -5px;
                }
            }
        }
        &__pay {
            padding-left: 1px;
            .icon-pay_credit {
                &:before {
                    margin-right: 14px;
                }
            }
        }
        .button {
            margin: 0 0 22px;
        }
        &__transactions {
            .title {
                padding: 0 25px;
                margin: 0 0 22px;
                .transactions-icons {
                    .icon-sort {
                        &:before {
                            margin-right: 26px;
                        }
                    }
                }
            }
            .titles-tablet {
                padding: 0 25px 9px 25px;
            }
            .transactions-tablet {
                &__item {
                    padding: 28px 25px 23px 25px;
                }
                .item-date {
                    .date {
                        margin: 0 0 7px;
                    }
                }
                .item-payment {
                    .item-title {
                        margin: 0 0 12px;
                    }
                    .transfer-money {
                        padding-left: 2px;
                        .icon-wallet {
                            margin: 0 15px 0 0;
                        }
                        .arrow {
                            width: 13px;
                            height: 10px;
                            margin: 0 13px 0 0;
                            span {
                                top: 5px;
                                width: 13px;
                                height: 2px;
                            }
                            &:before,
                            &:after {
                                width: 7px;
                                height: 2px;
                            }
                            &.right {
                                &:before,
                                &:after {
                                    left: 7px;
                                    top: 3px;
                                }
                                &:after {
                                    top: 7px;
                                }
                            }
                            &.left {
                                &:before,
                                &:after {
                                    top: 3px;
                                    width: 7px;
                                    height: 2px;
                                }
                                &:after {
                                    top: 7px;
                                }
                            }
                        }
                        .value {
                            .currency {
                                font-size: 0.85rem;
                            }
                        }
                    }
                }
                .icon-read_more {
                    right: -9px;
                    top: 5px;
                    width: 7px;
                    height: 7px;
                    &:before,
                    &:after {
                        width: 2px;
                        height: 9px;
                    }
                    &:after {
                        left: 5px;
                    }
                }
                .transactions-tablet__inner {
                    .transactions-item__inner {
                        margin-top: 22px;
                        padding: 22px 0 0 0;
                    }
                }
                &__item.is_pay-open {
                    .transactions-tablet__inner {
                        max-height: 400px;
                    }
                }
            }
        }
    }
}