.borrower-credit {
    margin-bottom: 80px;
    padding: 0 50px;
    .borrower-content {
        &__subtitle {
            font-size: 1.166em;
            color: $colorTextHalf;
        }
        .progress-bar {
            margin: 112px 0 34px 0;
            height: 25px;
            &__line {
                height: 25px;
            }
            &__line--error {
                height: 25px;
            }
            &__progress {
                line-height: 1.65;
                font-size: 1.75em;
            }
        }
        &__progress-summ-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 0 47px;
        }
        &__progress-summ {
            font-size: 1.166em;
            padding-right: 70px;
            line-height: 1.3;
            color: $colorTextHalf;
            width: 180px;
        }
        &__summ {
            display: inline-block;
            font-size: 2.75rem;
            letter-spacing: -3px;
            padding: 4px 0 0;
            .currency {
                font-size: 1.4rem;
                letter-spacing: 0;
            }
        }
        &__pay-term {
            margin: 0 0 50px;
            .caption {
                font-size: 1.166em;
                line-height: 1.3em;
                margin: 0 0 11px;
            }
            .summ {
                font-size: 3em;
                letter-spacing: -4px;
            }
            sub {
                font-size: 1.75em;
                padding-left: 10px;
            }
            .button {
                margin-top: 22px;
                background: $colorLink;
                color: #fff;
                span {
                    padding-right: 23px;
                }
            }
        }
        &__links {
            display: flex;
            align-items: center;
            li {
                width: 49%;
                display: inline-block;
                &:not(:last-child) {
                    margin: 0 70px 0 0;
                }
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.166em;
                    width: 100%;
                    &.icon-info {
                        &:before {
                            display: inline-block;
                            font-size: 2em;
                            line-height: 1.2;
                            margin-right: 28px;
                        }
                    }
                    &.icon-pay_credit {
                        &:before {
                            display: inline-block;
                            font-size: 1.5em;
                            line-height: 1.2;
                            margin-right: 28px;
                        }
                    }
                    span {
                        display: inline-block;
                        width: calc(100% - 60px);
                    }
                }
            }
        }
    }
    @include bp($Mobile) {
        margin-bottom: 40px;
        padding: 0 25px;
        .borrower-content {
            .progress-bar {
                margin: 56px 0 17px 0;
                height: 12px;
                &__line {
                    height: 12px;
                }
                &__line--error {
                    height: 12px;
                }
            }
            &__progress-summ-container {
                margin: 0 0 23px;
            }
            &__progress-summ {
                padding-right: 7px;
                width: 125px;
            }
            &__summ {
                letter-spacing: -1.5px;
                padding: 2px 0 0;
                font-size: 1.75rem;
            }
            &__pay-term {
                margin: 0 0 25px;
                .caption {
                    margin: 0 0 5px;
                }
                .summ {
                    letter-spacing: -2px;
                }
                sub {
                    padding-left: 5px;
                }
                .button {
                    margin-top: 11px;
                    span {
                        padding-right: 12px;
                    }
                }
            }
            &__links {
                li {
                    &:not(:last-child) {
                        margin: 0 35px 0 0;
                    }
                    a {
                        &.icon-info {
                            &:before {
                                margin-right: 14px;
                            }
                        }
                        &.icon-pay_credit {
                            &:before {
                                margin-right: 14px;
                            }
                        }
                        span {
                            width: calc(100% - 30px);
                        }
                    }
                }
            }
        }
    }
}

.borrower-error {
    background: $colorError;
    margin: -45px 0 47px 0;
    padding: 44px 50px 58px 50px;
    &__delay {
        margin: 0 0 25px;
    }
    &__summ {
        margin: 0 0 22px;
    }
    &__topay {
        position: relative;
        .info {
            display: inline-block;
            box-sizing: border-box;
            font-size: 1.166em;
            color: #ffd4d4;
            position: relative;
            right: -8px;
            top: -5px;
            width: 40px;
            height: 40px;
            line-height: 40px;
            border: 2px solid #ffd4d4;
            border-radius: 50%;
            text-align: center;
        }
    }
    .name {
        font-size: 1.166em;
        color: #ffd4d4;
        margin: 0 7px 0 0;
    }
    .value {
        font-size: 1.75em;
        font-weight: 500;
        color: #fff;
    }
    .currency,
    .time {
        font-size: 1.166em;
        color: #fff;
    }
    @include bp($Mobile) {
        margin: -22px 0 23px 0;
        padding: 22px 25px 24px 25px;
        &__delay {
            margin: 0 0 12px;
        }
        &__summ {
            margin: 0 0 11px;
        }
        &__topay {
            .info {
                right: -4px;
                top: -2px;
                width: 20px;
                height: 20px;
                line-height: 20px;
                border-width: 1px;
            }
        }
        .name {
            margin: 0 3px 0 0;
        }
    }
}

.borrower-credit-no {
    padding: 15px 50px;
    .title {
        font-size: 1.666em;
        margin: 0 0 35px;
    }
    .subtitle {
        font-size: 1.166em;
        line-height: 1.74;
        color: $colorTextHalf;
        margin: 0 0 62px;
    }
    .note {
        font-size: 1.166em;
        line-height: 1.74;
        color: $colorTextHalf;
    }
    &.two-weeks,
    &.nay-two-weeks {
        .subtitle {
            margin: 0 0 20px;
        }
        .note {
            margin: 0 0 61px;
        }
    }
    &.not-return {
        .title {
            letter-spacing: -0.3px;
        }
        .subtitle {
            margin: 0 0 18px;
        }
        .note {
            margin: 0 0 52px;
        }
    }
    @include bp($Mobile) {
        padding: 7px 25px;
        .title {
            margin: 0 0 17px;
        }
        .subtitle {
            margin:  0 0 31px;
        }
        &.two-weeks,
        &.nay-two-weeks {
            .subtitle {
                margin: 0 0 10px;
            }
            .note {
                margin: 0 0 30px;
            }
        }
        &.not-return {
            .title {
                letter-spacing: -0.1px;
            }
            .subtitle {
                margin: 0 0 9px;
            }
            .note {
                margin: 0 0 26px;
            }
        }
    }
}

.popup-details-credit {
    height: 100vh;
    .title-popup {
        position: fixed;
        left: 0;
        top: 0;
        background: $colorLink;
        color: #fff;
        padding: 40px 50px 32px 50px;
        width: 100%;
        font-size: 1.5em;
        box-sizing: border-box;
        z-index: 255;
        .btn-close {
            top: 50%;
            transform: translateY(-50%);
            right: 48px;
            &:before,
            &:after {
                background: #fff;
            }
        }
    }
    .popup-holder {
        height: 100%;
        .content-details {
            padding: 175px 50px 50px 47px;
            &__target {
                margin: 0 0 75px;
            }
            &__summ,
            &__commission,
            &__date_note,
            &__term{
                margin: 0 0 35px;
            }
            &__everymonth {
                margin: 0 0 75px;
            }
            &__date_close {
                margin: 0 0 59px;
            }
            .name {
                font-size: 1.166em;
                display: inline-block;
                color: $colorTextHalf;
            }
            .value {
                margin: 0 0 0 16px;
                font-size: 1.33em;
                display: inline-block;
                color: $colorTextQuater;
            }
            .currency {
                font-size: 1.166em;
                display: inline-block;
                color: $colorTextQuater;
            }
            .month {
                font-size: 1.166em;
                display: inline-block;
                color: $colorTextQuater;
            }
            .icon-conditions {
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                font-size: 1.166em;
                padding: 15px 0 0 80px;
                position: relative;
                &:before {
                    font-size: 3.3rem;
                    margin-right: 30px;
                    position: absolute;
                    top: 0;
                    left: 4px;
                }
            }
        }
    }
    @include bp($Mobile) {
        .title-popup {
            padding: 20px 25px 16px 25px;
            .btn-close {
                right: 24px;
            }
        }
        .popup-holder {
            .content-details {
                padding: 87px 25px 25px 23px;
                .content-details__target {
                    margin: 0 0 35px;
                }
                .content-details__summ,
                .content-details__commission,
                .content-details__date_note,
                .content-details__term{
                    margin: 0 0 15px;
                }
                .content-details__everymonth {
                    margin: 0 0 35px;
                }
                .content-details__date_close {
                    margin: 0 0 30px;
                }
                .value {
                    margin: 0 0 0 8px;
                }
                .icon-conditions {
                    padding: 7px 0 0 40px;
                    &:before {
                        margin-right: 15px;
                        left: 2px;
                        font-size: 2em;
                    }
                }
            }
        }
    }
}