.checking-container{
    text-align: center;
    &.phone {
        h3 {
            letter-spacing: 0.8px;
            line-height: 1.25;
            margin: 0 0 40px;
            &:before {
                content: '\e90e';
                font-family: 'icomoon';
                background: #e2e2e2;
                width: 167px;
                height: 167px;
                line-height: 167px;
                color: #fff;
                font-size: 1.8em;
                display: block;
                margin: 45px auto 53px;
                border-radius: 50%;
            }
        }
        .checking-container__subtitle {
            color: $colorText;
        }
        .button {margin: 0 0 25px;}
    }
    &.email {
        h3{
            letter-spacing: 0.8px;
            line-height: 1.25;
            margin: 0 0 40px;
            &:before {
                content: '\e908';
                font-family: 'icomoon';
                background: #e2e2e2;
                width: 167px;
                height: 167px;
                line-height: 167px;
                color: #fff;
                font-size: 1.4em;
                display: block;
                margin: 45px auto 53px;
                border-radius: 50%;
            }
            span {display: block;}
        }
        .checking-container__subtitle{
            color: $colorText;
        }
        .button {margin: 0 0 25px;}
    }
    &__subtitle{
        color: $colorTextHalf;
        margin: 0 0 65px;
        font-size: 1.169em;
        a {color: $colorTextHalf;}
    }
    .form{
        margin: 0 0 53px;
        &__field{
            position: relative;
            margin: 0 0 60px;
        }
        label{
            width:100%;
            text-align: center;
        }
    }
    .note{
        color: $colorTextHalf;
        margin: 0 0 15px;
        font-size: 1.164em;
    }
    .send-again {font-size: 1.164em;}
    @include bp($Mobile) {
        &.phone {
            h3 {
                letter-spacing: 0.4px;
                margin: 0 0 20px;
                &:before {
                    width: 83px;
                    height: 83px;
                    line-height: 83px;
                    margin: 22px auto 21px;
                }
            }
        }
        &.email {
            h3 {
                letter-spacing: 0.4px;
                margin: 0 0 20px;
                &:before {
                    width: 83px;
                    height: 83px;
                    line-height: 83px;
                    margin: 22px auto 21px;
                }
            }
        }
        &__subtitle{margin: 0 0 32px;}
        .form {
            margin: 0 0 21px;
            &__field {margin: 0 0 30px;}
        }
        .note {margin: 0 0 7px;}
    }
}