.tabs-links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .tab-link {
        margin: 0 47px 0 0;
        &:last-child {margin-right: 0;}
        a {
            display: block;
            border-bottom: 2px solid transparent;
            font-size: 1.25em;
            padding: 0 0 20px;
            @include anim($dur: .2s);
        }
    }
    @include bp($Mobile) {
        .tab-link {
            margin: 0 23px 0 0;
            a {
                border-bottom: 1px solid transparent;
                padding: 0 0 10px;
            }
        }
    }
}

.tabs-main {
    .tabs-content {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        display: none;
    }
}
