.terms {
    .title {margin: 0 0 60px;}
    span {
        display: block;
        font-size: 1.116em;
        margin: 0 0 35px;
        &:last-child {margin: 0;}
    }
    .info {margin: 0 0 65px;}
    .button {
        margin: 0 0 50px;
        background: $colorLink;
        color: #fff;
    }
    .change-conditions {
        display: block;
        text-align: center;
    }
    @include bp($Mobile) {
        .title {margin: 0 0 30px;}
        span {margin: 0 0 17px;}
        .info {margin: 0 0 32px;}
        .button {margin: 0 0 25px;}
    }
}