.borrower-wallet {
    width: 100%;
    &__holder{
        width: 100%;
        box-sizing: border-box;
        padding: 58px 57px 62px;
        @include bp($tablet){
            padding: 58px 30px 62px;
        }
        .top-title{
            font-size: 1.625em;
            border-bottom: 1px solid $borderColor;
            padding: 0 0 54px;
            margin: 0 0 36px;
        }
        .button{
            padding: 16px 46px;
        }
    }
    &__inner {
        position: relative;
        margin: 0 0 27px;
        .subtitle {
            display: block;
            margin: 0 0 3px;
            font-size: .875rem;
            &:before{
                display: none;
            }
            &:after{
                content: "\e90a";
                font-family: 'icomoon';
                vertical-align: middle;
                margin: 0 0 0 8px;
                font-size: 1.125rem;
                color: $colorTextHalf;
            }
        }
        .value {
            display: inline-block;
            font-size: 2.875em;
        }
        .currency {
            display: inline-block;
            font-size: 1.666em;
            position: relative;
        }
        .help-icon {
            &:before {
                right: -61px;
                top: -11px;
                transform: none;
                font-size: 0.7em;
            }
        }
    }
    &__pay {
        padding-left: 3px;
        .icon-pay_credit {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: .875rem;
            &:before {
                font-size: 1.5em;
                line-height: 1.2;
                margin: 0 13px 0 0;
            }
        }
    }
    .button {
        background: $colorLink;
        color: #fff;
        margin: 0 0 45px;
    }
    &__content{
        height: calc(100vh - 114px);
        overflow: auto;
    }
    &__transactions {
        .title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 57px 56px 28px;
            span {
                font-size: 1.666em;
            }
            .transactions-icons {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                .icon-sort {
                    display: block;
                    &:before {
                        font-size: 1.6em;
                        margin-right: 53px;
                    }
                }
                .icon-calendar {
                    display: block;
                    &:before {
                        font-size: 1.6em;
                    }
                }
            }
        }
        .titles-tablet {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0 50px 11px 50px;
            font-size: .875em;
            color: $colorTextHalf;
            span{
                display: inline-block;
            }
            &__date {
                width: 18%;
            }
            &__operation{
                width:35%;
            }
            &__from-were{
                width:22%;
            }
            &__summ{
                width: 25%;
            }
        }
        .transactions-tablet {
            overflow: hidden;
            &__item {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-flow: row wrap;
                padding: 32px 50px 6px 50px;
                border-top: 1px solid $borderColor;
                box-sizing: border-box;
                position: relative;
                &:last-child {
                    border-bottom: 1px solid $borderColor;
                }
            }
            .item-date {
                display: inline-block;
                width: 18%;
                .date {
                    font-size: .875em;
                    color: $colorTextQuater;
                    margin: 0 0 15px;
                }
                .time {
                    font-size: .875em;
                    color: $colorTextHalf;
                }
                .icon-read_more {
                    position: absolute;
                    left: 28px;
                    top: 35px;
                    width: 15px;
                    height: 15px;
                    &:before,
                    &:after {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 2px;
                        height: 10px;
                        background: #000;
                        transform: rotate(-45deg);
                        @include anim($dur: .3s);
                    }
                    &:after {
                        left: 6px;
                        transform: rotate(45deg);
                    }
                }
            }
            .item-payment {
                display: inline-block;
                width: 35%;
                position: relative;
                .item-title {
                    display: block;
                    color: $colorTextQuater;
                    margin: 0 0 25px;
                }
            }
            .item-from-were{
                width:22%;
                .icon-wallet {
                    margin: 0 8px 0 0;
                    &:before {
                        font-size: 1.3em;
                        color: $colorTextHalf;
                    }
                }
                .arrow {
                    position: relative;
                    width: 26px;
                    height: 20px;
                    margin: 0 27px 0 0;
                    display: inline-block;
                    span {
                        position: absolute;
                        left: 0;
                        top: 9px;
                        width: 13px;
                        height: 1px;
                        background: #a6a6a6;
                    }
                    &:before,
                    &:after {
                        content: '';
                        position: absolute;
                        background: #a6a6a6;
                        width: 8px;
                        height: 1px;
                        display: none;
                    }
                    &.right {
                        &:before,
                        &:after {
                            display: block;
                            left: 6px;
                            top: 6px;
                            transform: rotate(47deg);
                        }
                        &:after {
                            top: 12px;
                            transform: rotate(-45deg);
                        }
                    }
                    &.left {
                        span {
                            left: 1px;
                        }
                        &:before,
                        &:after {
                            display: block;
                            left: 0;
                            top: 6px;
                            width: 8px;
                            height: 1px;
                            transform: rotate(-47deg);
                        }
                        &:after {
                            top: 12px;
                            transform: rotate(45deg);
                        }
                    }

                }
            }
            .item-summ{
                width: 25%;
                .value {
                    color: $colorText;
                    font-weight: 500;
                    .currency {
                        font-size: .875rem;
                    }
                }
            }
            .transactions-tablet__inner {
                display: block;
                width: 100%;
                max-height: 0;
                opacity: 0;
                pointer-events: none;
                @include anim($dur: .3s);
                .transactions-item__inner {
                    display: flex;
                    align-items: flex-start;
                    flex-flow: row wrap;
                    width: 100%;
                    padding: 45px 0 0 0;
                    border-top: 1px solid $borderColor;
                }
            }
            &__item.is_pay-open {
                .transactions-tablet__inner {
                    max-height: 600px;
                    opacity: 1;
                    pointer-events: auto;
                }
                .icon-read_more {
                    &:before {
                        transform: rotate(-135deg);
                    }
                    &:after {
                        transform: rotate(135deg);
                    }
                }
            }
        }
    }
    @include bp(640) {
        width: 100%;
        .borrower-wallet__holder {
            padding: 32px 25px 47px 25px;
        }
        &__inner {
            margin: 0 0 25px;
            .on_wallet {
                margin-bottom: 7px;
            }
            .help-icon {
                &:before {
                    right: -30px;
                    top: -5px;
                }
            }
        }
        &__pay {
            padding-left: 1px;
            .icon-pay_credit {
                &:before {
                    margin-right: 14px;
                }
            }
        }
        .button {
            margin: 0 0 22px;
        }
        &__transactions {
            .title {
                padding: 0 25px;
                margin: 0 0 22px;
                .transactions-icons {
                    .icon-sort {
                        &:before {
                            margin-right: 26px;
                        }
                    }
                }
            }
            .titles-tablet {
                padding: 0 25px 9px 25px;
            }
            .transactions-tablet {
                &__item {
                    padding: 28px 25px 23px 25px;
                }
                .item-date {
                    .date {
                        margin: 0 0 7px;
                    }
                }
                .item-payment {
                    .item-title {
                        margin: 0 0 12px;
                    }
                    .transfer-money {
                        padding-left: 2px;
                        .icon-wallet {
                            margin: 0 15px 0 0;
                        }
                        .arrow {
                            width: 13px;
                            height: 10px;
                            margin: 0 13px 0 0;
                            span {
                                top: 5px;
                                width: 13px;
                                height: 2px;
                            }
                            &:before,
                            &:after {
                                width: 7px;
                                height: 2px;
                            }
                            &.right {
                                &:before,
                                &:after {
                                    left: 7px;
                                    top: 3px;
                                }
                                &:after {
                                    top: 7px;
                                }
                            }
                            &.left {
                                &:before,
                                &:after {
                                    top: 3px;
                                    width: 7px;
                                    height: 2px;
                                }
                                &:after {
                                    top: 7px;
                                }
                            }
                        }
                        .value {
                            .currency {
                                font-size: 0.85rem;
                            }
                        }
                    }
                }
                .icon-read_more {
                    right: -9px;
                    top: 5px;
                    width: 7px;
                    height: 7px;
                    &:before,
                    &:after {
                        width: 2px;
                        height: 9px;
                    }
                    &:after {
                        left: 5px;
                    }
                }
                .transactions-tablet__inner {
                    .transactions-item__inner {
                        margin-top: 22px;
                        padding: 22px 0 0 0;
                    }
                }
                &__item.is_pay-open {
                    .transactions-tablet__inner {
                        max-height: 400px;
                    }
                }
            }
        }
    }
}