.credit-scoring{
	&-slow{
		max-width: 400px;
		text-align: center;
		padding: 45px 0;
		h3 {
			span {
				display: block;
			}
			&:before {
				content: '\e903';
				font-family: 'icomoon';
				background: #e2e2e2;
				width: 110px;
				height: 110px;
				line-height: 110px;
				color: #fff;
				font-size: 2.5em;
				display: block;
				margin: 0 auto 53px;
				border-radius: 50%;
			}
		}
	}
	&-fast{
		max-width: 400px;
		text-align: center;
		padding: 45px 0;
		.loader-holder{
			position: relative;
			padding: 0;
			margin: 0 0 60px;
		}
	}
	.subtitle {
		padding: 0 45px;
		margin: 0 0 45px;
		line-height: 1.5;
		span {
			display: block;
			margin: 0 0 20px;
		}
	}
}