.section{
	text-align: center;
	&.card{
		.subtitle{
			margin: 0 0 35px;
			color: $colorTextHalf;
		}
	}
}
.credit-card{
	&__fields{
		border-radius: 10px;
		background: #f2f2f2;
		position: relative;
		overflow: hidden;
		padding: 40px;
		max-width: 490px;
		box-sizing: border-box;
		margin: 0 auto 55px;
		text-align: left;
		&:after{
			content: '';
			width: 351px;
			height: 100%;
			position: absolute;
			background: $colorLink;
			border-radius: 10px;
			left: 0;
			top: 0;
		}
		&:before{
			content: '';
			width: 139px;
			height: 67px;
			position: absolute;
			background: #000;
			right: 0;
			top: 35px;
		}
		.form__field{
			z-index: 1;
			display: inline-block;
			margin: 0 30px 0 0;
			label{
				color: transparentize(#fff, .5);
			}
			.form__caret{
				background: $colorButton;
			}
			&.card-number{
				width: 270px;
				margin: 38px 30px 55px 0;
			}
			&.card-name{
				width: 180px;
			}
			&.card-term{
				width:60px;
				margin: 0 70px 0 0;
			}
			&.card-cvv{
				width: 60px;
				margin: 0;
				label{
					color: $colorTextHalf;
				}
				.form__caret{
					background: $colorLink;
				}
				input{
					color: $colorTextHalf;
					&:focus,&:valid{
						& ~ label{
							color: $colorTextHalf;
						}
					}
				}
			}
		}
		input{
			font-size: 20px;
			letter-spacing: 1px;
			background: transparentize($colorLink, 1);
			color: transparentize(#fff, .5);
			&:focus,&:valid{
				& ~ label{
					color: transparentize(#fff, .5);
				}
			}
		}
		@include placeholder {
			font-size: 20px;
		}
	}
}