.devices {
    display: block;
    width: 100%;
    height: calc(100vh - 141px);
    overflow: auto;
    .devices-list {
        display: flex;
        flex-direction: column;
        padding:0 30px;
        &__item {
            padding: 31px 0;
            display: flex;
            align-items: center;
            position: relative;
            border-top: 1px solid $borderColor;
            color: $colorText;
            &:first-child {
                border: none;
            }
            &:last-child {
                border-bottom: 1px solid $borderColor;
            }
            .device-icon {
                display: block;
                width: 11%;
                a[class*='icon'] {
                    display: block;
                    position: relative;
                    &:before {
                        font-size: 2rem; // rem is for IE 10
                        position: absolute;
                        color: $colorText;
                        left: 52%;
                        transform: translateX(-50%);
                        top: -16px;
                    }
                }
                a.icon-ic_windows {
                    &:before {
                        font-size: 1.8rem; // rem is for IE 10
                        top: -13px;
                    }
                }
                a.icon-ic_ipod {
                    &:before {
                        font-size: 2.4rem;  // rem is for IE 10
                        top: -20px;
                    }
                }
            }
            .device-info {
                display: block;
                width: 22.3%;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                position: relative;
                &__os {
                    display: block;
                    width: 11%;
                }
                &__browser{
                    font-size: .875em;
                    opacity: 0.5;
                    width: 9.4%;
                }
                &__location {
                    opacity: 0.5;
                    animation: runner 5s infinite;
                    white-space: nowrap;
                    font-size: .875em;
                    width: 31%;
                }
                &__used {
                    display: block;
                }
            }
            .device-turn__off {
                position: absolute;
                bottom: 50%;
                transform: translateY(50%);
                right: 30px;
                width: 18px;
                height: 18px;
                background: transparent;
                border: 2px solid #ff0000;
                border-radius: 50%;
                z-index: 10;
                &:hover{
                    &:before{
                        transform: rotate(405deg);
                    }
                }
                &:before {
                    content: '';
                    display: block;
                    width: 2px;
                    height: 20px;
                    background: #ff0000;
                    position: absolute;
                    left: 7px;
                    top: 0px;
                    transform: rotate(45deg);
                    @include anim($param: transform, $dur: .5s);
                }
            }
            &.use__now {
                color: $colorLink;
                .device-icon {
                    a[class*='icon'] {
                        &:before {
                            color: $colorLink;
                        }
                    }
                }
            }
            &.use__recently {
                color: $colorText;
                a[class*='icon'] {
                    .icon-mobile {
                        &:before {
                            color: $colorText;
                        }
                    }
                }
            }
            &.use__long {
                color: #a3a3a3;
                .device-icon {
                    a[class*='icon'] {
                        &:before {
                            color: #a3a3a3;
                        }
                    }
                }
                .device-info__os {
                    .browser {
                        opacity: 1;
                    }
                }
                .device-info__location {
                    opacity: 1;
                }
            }
        }
    }
}