.logo{
	text-indent: -9999px;
	width: 42px;
	height:8px;
	background: #fff;
	padding: 0 0 30px;
	background-clip: content-box;
	position: relative;
	display: inline-block; // fix for IE 10
	@include anim($param: background-color);
	&:hover{
		background-color: $colorButton;
		&:before,&:after{
			background-color: $colorButton;
		}
	}
	&:before,&:after{
		content: '';
		position: absolute;
		left: 0;
		top: 50%;
		width: 42px;
		height: 8px;
		background: #fff;
		@include anim($param: background-color);
	}
	&:before{
		transform: translateY(-50%);
		transition-delay: .1s;
	}
	&:after{
		width: 8px;
		top: auto;
		bottom: 0;
		transition-delay: .2s;
	}
}
.main-navigation{
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	max-height: 453px;
	min-height: 340px;
	margin: 45px 0 0 0;
	//transform-origin: 0 0;
	//will-change: max-height;
	//@include anim($param: max-height);
	@include bp-height(600) {
		max-height: 390px;
	}
	li {
		position: relative;
		&:hover{
			&:before,
			&:after{
				transform: translateX(0);
			}
		}
		&:before,&:after{
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			width: 20px;
			height: 1px;
			background: #fff;
			transform: translateX(-100%);
			@include anim($param: transform);
			@include bp-height(600){
				width:10px;
			}
		}
		&:after{
			left: auto;
			right: 0;
			transform: translateX(100%);
		}
		a {
			color: transparentize($colorText, .35);
			text-align: center;
			display: flex;
			flex-direction: column;
			@include anim($param: color);
			text-transform: uppercase;
			font-size: .625em;
			font-weight: 500;
			letter-spacing: 1px;
			margin: 0 auto;
			padding: 0 22px;
			&:before {
				font-family: 'icomoon';
				display: block;
				margin: 0 0 5px;
				@include bp-height(600){
					text-indent: 0;
				}
			}
			&:hover {
				color: #fff;
			}
		}
	}
	&__text{
		@include bp-height(600){
			display: none;
		}
	}
	&__credit{
		&:before {
			content: "\e905";
			font-size: 2.8em;
		}
	}
	&__wallet{
		&:before {
			content: "\e921";
			font-size: 2.8em;
		}
	}
	&__partner{
		&:before {
			content: "\e914";
			font-size: 2.8em;
		}
	}
	&__support{
		&:before {
			content: "\e909";
			font-size: 2.8em;
		}
	}
	&__notifications{
		position: relative;
		&:before {
			content: "\e913";
			font-size: 3.3em;
			transform-origin: 50% 0;
		}
		&.is-highlighted{
			&:before {
				animation: highlighted .5s linear;
			}
			.count{
				display: block;
			}
		}
		.count{
			position: absolute;
			right: 42px;
			top: -4px;
			display: none;
		}
	}
	&__account{
		width: 16px;
		height: 60px;
		padding: 0;
		border-radius: 50%;
		overflow: hidden;
		background-size: cover;
		background-position: 50% 50%;
		@include bp-height(600){
			width: 0;
			height: 44px;
		}
	}
}
.scroll-nav__item{
	position: relative;
	&:after{
		content: '';
		display: inline-block;
		vertical-align: middle;
		margin: 0 0 0 8px;
		border-radius: 50%;
		width: 8px;
		height: 8px;
		background: $colorTextLight;
		@include anim($param: background);
	}
	&.active{
		a{
			visibility: visible;
			opacity: 1;
		}
		&:after{
			background: $colorLink;
		}
	}
	a{
		opacity: 0;
		visibility: hidden;
		text-transform: uppercase;
		font-weight: 500;
		letter-spacing: 1px;
		font-size: .75em;
		@include anim($param: opacity);
	}
}