.investment-risk {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 20%;
	min-height: 376px;
	padding: 24px 4.4%;
	border-top: 3px  solid transparent;
	box-sizing: border-box;
	@include anim($dur: .2s);
	@include anim-param(border, background, padding);
	&:last-child, &:nth-last-child(2) {
		.tooltip-info {
			&__content {
				right: 8px;
				left: auto;
				&:before {
					bottom: -21px;
					right: 0;
					left: auto;
					border-top: 30px solid #fff;
					border-left: 30px solid transparent;
					border-right: none;
				}
				&.active-tooltip {
					display: block;
				}
			}
		}
	}
	& + .investment-risk {
		&:before {
			content: '';
			position: absolute;
			left: 0;
			width: 1px;
			height: calc(100% - 58px);
			@include centerize(false, true);
			background: #cecece;
			@include anim($param: background, $dur: .2s);
		}
	}
	&.active {
		background: #f8f8f8;
		&:before {
			background: transparent;
		}
		.max-income {
			opacity: 1;
			visibility: visible;
			pointer-events: auto;
		}
		& + .investment-risk {
			&:before {
				background: transparent;
				@include anim($param: background, $dur: .2s);
			}
		}
	}
	&__title-holder {
		margin-bottom: auto;
		span {
			display: block;
		}
		.title {
			display: block;
			margin-bottom: 8px;
			font-size: 1.5em;
		}
	}
	&__benefit-info {
		padding-top: 39px;
		margin-bottom: 36px;
		.title {
			display: inline-block;
			margin-bottom: 8px;
			font-size: 0.875em;
			color: transparentize(#000, .6);
			
		}
		.tooltip-info {
			vertical-align: middle;
		}
		.value {
			font-size: 2.25em;
		}
		&.max-income {
			padding: 0;
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			margin-bottom: 5px;
			@include anim($dur: .2s);
			@include anim-param(opacity, visibility);
			.value {
				font-size: 1.5em;;
			}
		}
	}
	&__my-investition {
		margin-bottom: 46px;
		color: transparentize(#000, .6);
		.form__field {
			margin: 0;
			input {
				padding: 0;
				background: transparent;
			}
		}
		.title {
			display: block;
			margin-bottom: 22px;
			font-size: .875em;
		}
	}
	&.low {
		&.active {
			border-top-color: $colorLowRisk
		}
		.investment-risk__title-holder {
			span {
				color: $colorLowRisk
			}
		}
	}
	&.moderate {
		&.active {
			border-top-color: $colorModerateRisk
		}
		.investment-risk__title-holder {
			span {
				color: $colorModerateRisk
			}
		}
	}
	&.middle {
		&.active {
			border-top-color: $colorMiddleRisk
		}
		.investment-risk__title-holder {
			span {
				color: $colorMiddleRisk
			}
		}
	}
	&.above-middle {
		&.active {
			border-top-color: $colorAboveMiddleRisk
		}
		.investment-risk__title-holder {
			span {
				color: $colorAboveMiddleRisk
			}
		}
	}
	&.high {
		&.active {
			border-top-color:#eb823e;
		}
		.investment-risk__title-holder {
			span {
				color:#eb823e;
			}
		}
	}
	@include bp(1180) {
		padding: 24px 2.4%;
	}
}