.investor-steps {
	width: 100%;
	align-self: flex-start;
	&__navigation {
		position: relative;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		padding: 27px;
		background: #f2f2f2;
		.button {
			padding: 17px 23px;
		}
		.logo {
			background-color: #b5b5b5;
			&:before, &:after {
				background-color: #b5b5b5;
			}
			&:hover {
				background-color: $colorButton;
				&:before, &:after {
					background-color: $colorButton;
				}
			}
		}
		.breadcrumbs {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: center;
			align-self: stretch;
			&__item {
				position: relative;
				a {
					text-transform: uppercase;
					font-size: .75em;
					font-weight: 500;
					color: transparentize(#000, .6);
					letter-spacing: 1px;
					&:hover {
						color: transparentize(#000, .4);
					}
				}
				& + li {
					margin-left: 28px;
					&:before {
						content: "\e92e";
						font-family: 'icomoon';
						position: absolute;
						@include centerize(false, true);
						left: -17px;
						height: 16px;
						font-size: .9em;
						color: transparentize(#000, .7);
					}
				}
				&.ui-tabs-active {
					a {
						color: #000;
					}
				}
			}
		}
	}
}

.investor-steps {
	.tabs__content {
		.content-holder {
			flex-direction: column;
			justify-content: flex-start;
			height: calc(100vh - 101px); // 100vh - navigation height
		}
		&-item {
			width: 100%;
			flex-direction: column;
			padding-top: 78px;
			.form__button {
				margin-bottom: 25px;
			}
		}
	}
}

.investor-steps {
	.registration {
		&__tab {
			padding-top: 59px;
			.registration-container {
				margin: 0;
				.form__button {
					display: block;
					max-width: 315px;
					margin: 0 auto;
					letter-spacing: 1px;
					font-size: .8em;
				}
			}
			.checking-container {
				&.phone {
					display: none;
					h3 {
						margin-bottom: 18px;
					}
					.form__button {
						width: 217px;
						letter-spacing: 1px;
						font-size: .85em;
					}
				}
				&.email {
					display: none;
					h3 {
						margin-bottom: 18px;
					}
					.form__button {
						width: 217px;
						letter-spacing: 1px;
						font-size: .85em;
					}
				}
				&.success-check {
					display: block;
				}
			}
		}
	}
	.about-self {
		&__tab {
			form {
				margin-bottom: 24px;
			}
			.button {
				padding: 15px 43px;
			}
		}
	}
}

.investor-steps {
	.investment-term {
		&__tab {
			height: 100%;
			flex-direction: column;
			align-items: flex-start;
			padding-top: 0;
		}
		&__holder {
			width: 100%;
			flex-shrink: 0;
			margin-bottom: 59px;
			background: $colorLink;
			padding: 42px 8.8vw 49px;
			box-sizing: border-box;
			will-change: background;
			@include anim($dur: .2s, $delay: .2s);
			@include anim-param(margin, padding, background);
			.rangeslider-holder {
				will-change: opacity;
				@include anim($param: opacity, $dur: .1s, $delay: .2s);
				.irs {
					.irs-line {
						background-color: #5f3fa0;
					}
					.irs-single {
						display: none;
					}
					.irs-slider {
						background: #f2f2f2;
					}
				}
				.irs-grid {
					.irs-grid-pol {
						&:nth-last-of-type(2), &:first-child {
							background: transparentize(#fff, .3);
						}
					}
					.irs-grid-text {
						color: transparentize(#fff, .3);
					}
					.js-grid-text-1,
					.js-grid-text-3,
					.js-grid-text-5,
					.js-grid-text-7 {
						display: block;
					}
				}
			}
			&.pocket-none {
				//min-height: inherit;
				margin-bottom: 0;
				padding-bottom: 18px;
				background: transparent;
				@include anim($dur: .2s, $delay: .2s);
				@include anim-param(margin, padding, background);
				.rangeslider-holder {
					opacity: 0;
					pointer-events: none;
				}
				.investment-term__title {
					.title-descr {
						color: #000;
					}
					.edit-term {
						color: $colorLink;
						border-bottom: 2px dashed $colorLink;
						span {
							color: $colorLink;
						}
					}
				}
			}
		}
		&__title {
			text-align: center;
			margin-bottom: 3px;
			.title-descr, .edit-term {
				font-size: 1.5em;
				color: transparentize(#fff, .3);
				will-change: color;
				@include anim($dur: .2s, $delay: .25s);
				@include anim-param(border, color);
			}
			.edit-term {
				margin-left: 20px;
				border-bottom: 2px dashed transparentize(#fff, 0);
				color: transparentize(#fff, 0);
				cursor: pointer;
				span {
					will-change: color;
					@include anim($param: color, $dur: .2s, $delay: .25s);
					font-size: 1.6em;
					color: transparentize(#fff, 0);
				}
			}
		}
	}
}

.investment-risk__holder {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	padding: 0 4.4%;
	box-sizing: border-box;
	//flex-shrink: 0;
	//flex: 1 1 auto;
}

.investor-steps {
	.investor-agreement {
		&__tab {
			padding-top: 30px;
			.agreement {
				h3 {
					margin: 0 0 17px;
				}
				.subtitle {
					margin-bottom: 0;
				}
				&__top-content {
					
				}
			}
		}
	}
}
