.ni-top-filters {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 100px;
	padding: 0 27px;
	background: $colorLink;
	box-sizing: border-box;
	z-index: 2;
	&__button {
		padding: 17px 23px;
	}
	.logo {
		margin-left: auto;
	}
	&__search, &__to-profit, &__due-date {
		.title {
			text-transform: uppercase;
			font-size: .75em;
			letter-spacing: 1px;
			font-weight: 500;
		}
	}
	&__search {
		position: relative;
		cursor: pointer;
		margin-left: 100px;
		&:before {
			content: "\e925";
			font-family: 'icomoon';
			position: absolute;
			left: -26px;
			font-size: 1.5em;
			color: transparentize(#fff, .3);
			@include centerize(false, true);
		}
		.title {
			color: transparentize(#fff, .3);
		}
	}
	.filters-group {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		align-self: stretch;
		margin-left: 94px;
		.filter-item {
			display: flex;
			flex-direction: row;
			align-items: center;
			align-self: stretch;
			padding: 0 48px 0 30px;
			@include anim($param: background, $dur: .2s);
			.title {
				position: relative;
				color: #fff;
				cursor: pointer;
				.vector {
					position: absolute;
					right: -26px;
					display: inline-block;
					width: 15px;
					height: 8px;
					@include centerize(false, true);
					&:before, &:after {
						content: '';
						position: absolute;
						top: 0;
						width: 2px;
						height: 8px;
						background: #fff;
						@include anim($param: transform, $dur: .2s);
					}
					&:before {
						top: 0;
						left: 0;
						height: 8px;
						transform: rotate(-45deg);
					}
					&:after {
						top: 0;
						left: 5px;
						transform: rotate(45deg);
					}
				}
				/*custom shevron*/
			}
			&.active {
				background: $colorDarkBg;
				.title {
					.vector {
						&:before {
							transform: rotate(-135deg);
						}
						&:after {
							transform: rotate(135deg);
						}
					}
					/*custom shevron*/
				}
			}
		}
		
	}
	&__to-profit {
		position: relative;
		.to-profit {
			&__dropdown {
				position: absolute;
				top: 100px;
				left: 0;
				display: flex;
				flex-direction: column;
				min-width: 275px;
				border: none;
				background: $colorDarkBg;
				& > * {
					@include anim-param(height, padding, margin);
					@include anim($dur: .25s, $type: cubic-bezier(0.230, 1.000, 0.320, 1.000));
				}
			}
			&__list {
				padding: 0 30px 0;
				margin: 0;
				& > * {
					transition: 0.1s height cubic-bezier(0.230, 1.000, 0.320, 1.000),
					0.1s padding cubic-bezier(0.230, 1.000, 0.320, 1.000),
					0.1s margin cubic-bezier(0.230, 1.000, 0.320, 1.000),
					0s 0s opacity;
				}
			}
			&__item {
				display: flex;
				flex-flow: row nowrap;
				justify-content: flex-start;
				align-items: center;
				margin: 0;
				height: 0;
				opacity: 0;
				.form__field, .to-profit__risk {
					height: 0;
				}
				.form__field {
					flex: 1;
					margin-bottom: 0;
					white-space: nowrap;
				}
				.to-profit__risk {
					flex: 1;
					padding-left: 14px;
					font-size: .9em;
					color: transparentize(#fff, .4);
					white-space: nowrap;
				}
			}
			&__button {
				width: 100%;
				padding: 0;
				height: 0;
				background: darken($colorDarkBg, 10%);
				color: #fff;
				box-sizing: border-box;
				text-align: center;
				opacity: 0;
				@include anim($param: opacity, $dur: 0s);
				&:before {
					background: darken($colorDarkBg, 14%);
				}
			}
		}
		&.active {
			.to-profit {
				&__dropdown {
					border-top: 1px solid darken($colorDarkBg, 10%);
				}
				&__list {
					margin-bottom: 3px;
					padding: 31px 30px 0;
					& > * {
						transition: 0.25s height cubic-bezier(0.230, 1.000, 0.320, 1.000),
						0.25s padding cubic-bezier(0.230, 1.000, 0.320, 1.000),
						0.25s margin cubic-bezier(0.230, 1.000, 0.320, 1.000),
						0.1s opacity;
					}
				}
				&__item {
					margin-bottom: 26px;
					height: auto;
					opacity: 1;
					.form__field, .to-profit__risk {
						height: auto;
					}
				}
				&__button {
					padding: 18px 55px;
					height: auto;
					opacity: 1;
					@include anim($param: opacity, $dur: .1s);
				}
			}
		}
	}
	&__due-date {
		.due-date {
			&__dropdown {
				display: flex;
				flex-flow: row nowrap;
				justify-content: space-between;
				align-items: flex-start;
				position: absolute;
				top: 100px;
				left: 0;
				width: 100%;
				height: 0;
				padding: 0 8.5vw 0;
				background: $colorDarkBg;
				border: none;
				box-sizing: border-box;
				z-index: 2;
				@include anim-param(height, opacity, transform, padding);
				@include anim($dur: .15s, $type: cubic-bezier(0.230, 1.000, 0.320, 1.000));
				* {
					opacity: 0;
					transform: scaleY(0);
					@include anim-param(height, opacity, transform, padding);
					@include anim($dur: .15s, $type: cubic-bezier(0.230, 1.000, 0.320, 1.000));
				}
				.rangeslider-holder {
					width: 100%;
					.irs-grid .irs-grid-text {
						color: transparentize(#fff, .4);
					}
					.irs-line {
						background: darken($colorDarkBg, 10%);
					}
					.irs-bar {
						display: block;
						height: 8px;
						border: none;
						background: transparentize(#fff, .5);
					}
					.irs-grid .irs-grid-pol:first-child, .irs-grid .irs-grid-pol:nth-last-of-type(2) {
						opacity: 0;
					}
					.rangeslider__item .irs-grid .irs-grid-text:nth-last-of-type(1) {
						right: -25px !important;
					}
					.rangeslider__item .irs-grid .js-grid-text-0 {
						left: -25px !important;
					}
					.irs-slider {
						background: #fff;
					}
				}
			}
			&__button {
				min-width: 172px;
				margin: 23px 0 0 65px;
				padding: 17px 47px;
				background: darken($colorDarkBg, 10%);
				box-sizing: border-box;
				color: #fff;
				 &:before {
					 background: darken($colorDarkBg, 14%);
				 }
			 }
			
		}
		&.active {
			.due-date {
				&__dropdown {
					height: 174px;
					padding-top: 40px;
					border-top: 1px solid darken($colorDarkBg, 10%);
					@include anim-param(height, opacity, transform, padding);
					@include anim($dur: .25s, $type: cubic-bezier(0.230, 1.000, 0.320, 1.000));
					* {
						opacity: 1;
						transform: scaleY(1);
					}
				}
			}
		}
	}
}

//.popup-holder {
//	.ni-popups {
//		.due-date {
//			&__dropdown {
//				position: absolute;
//				top: 100px;
//				left: 0;
//				width: 100%;
//				height: 150px;
//				background: $colorDarkBg;
//				border-top: 1px solid darken($colorDarkBg, 10%);
//				z-index: 2;
//				opacity: 0;
//				&.active {
//					opacity: 1;
//				}
//			}
//		}
//	}
//}

/*chevron svg*/

/*%chevron-line-base {
	stroke-width: 10;
	stroke-linecap: round;
	transition: transform 0.4s, stroke 0.4s;
}

.chevron {
	$upColor: #ffffff;
	$downColor: #ffffff;
	&__holder {
		width: 20px;
		height: 20px;
	}
	&__line1 {
		@extend %chevron-line-base;
		transform-origin: 50px 50px;
	}
	
	&__line2 {
		@extend %chevron-line-base;
		transform-origin: 50px 50px;
	}
	
	&--down {
		display: block;
		.chevron {
			
			&__container {
				transition: transform 0.4s;
				transform: translateY(13px);
			}
			
			&__line1 {
				stroke: $downColor;
				transform: rotate(40deg);
			}
			&__line2 {
				stroke: $downColor;
				transform: rotate(-40deg);
			}
		}
	}
	
	
	&--up {
		@extend .chevron--down;
		.chevron {
			&__container {
				transform: translateY(-13px);
			}
			&__line1 {
				stroke: white;
				transform: rotate(-40deg);
			}
			&__line2 {
				stroke: white;
				transform: rotate(40deg);
			}
		}
		
	}
}*/
