.notifications {
    &.popup{
        left: 124px;
        overflow: auto;
        width: 400px;
    }
    .notifications-holder {
        .notifications-title {
            padding: 60px 0 53px 60px;
            width: 100%;
            background: #f2f2f2;
            border-bottom: 1px solid #cecece;
            box-sizing: border-box;
            span {
                font-size: 1.6em;
                color: $colorText;
            }
        }
        .notif-list {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            background: #fc9;
            &__item {
                background: #f2f2f2;
                border-bottom: 1px solid #cecece;
                @include anim($param: background);
                &:hover{
                    background: #fff;
                }
                & > a {
                    position: relative;
                    display: block;
                    padding: 25px 30px 26px 55px;
                    &:before {
                        font-family: 'icomoon';
                        position: absolute;
                        left: 24px;
                        top: 23px;
                        color: $colorText;
                    }
                }
                .item-title {
                    font-size: 1em;
                    line-height: 1.2;
                    font-weight: 300;
                    margin: 0 0 8px;
                    color: $colorText;
                    display: block;
                }
                .item-date {
                    font-size: .875em;
                    line-height: 1.2;
                    color: $colorTextLight;
                    display: block;
                }
                .item-descr {
                    display: block;
                    font-size: .875em;
                    line-height: 1.45em;
                    color: $colorTextHalf;
                    margin-bottom: 15px;
                }
                .item-readmore {
                    font-size: .875em;
                    line-height: 1.2;
                    display: block;
                    margin-bottom: 19px;
                }
                .credit {
                    &:before {
                        content: "\e905";
                        font-size: 1.35em;
                    }
                }
                .partners {
                    &:before {
                        content: "\e914";
                        font-size: 1.35em;
                    }
                }
                .support {
                    &:before {
                        content: "\e909";
                        font-size: 1.35em;
                    }
                }
            }
        }
    }
}