.rangeslider-holder {
	.rangeslider {
		&__item {
			.title {
				font-size: 1.5em;
			}
			.irs-grid {
				.irs-grid-text {
					&.js-grid-text-0, &:nth-last-of-type(1) {
						margin: 0 !important;
						&:after {
							content: '';
							display: inline-block;
							font-size: 14px;
							margin-left: 4px;
						}
					}
					&:nth-last-of-type(1) {
						left: auto !important;
						right: 0 !important;
					}
				}
			}
		}
		&__money, &__date {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: center;
			.irs {
				flex: 1;
				max-width: 608px;
			}
		}
		&__money {
			margin-bottom: 32px;
			.irs-single {
				// Remove pointer events from money slider value element
				pointer-events: none;
				cursor: pointer;
				&:before, &:after {
					font-family: 'icomoon';
					// Enable pointer events on money slider value pseudoelements
					pointer-events: all;
					display: inline-block;
					width: 20px;
					height: 20px;
					border-radius: 50%;
					border: 1px solid transparentize(#000, .9);
					vertical-align: middle;
					text-align: center;
					font-size: 20px;
					line-height: 20px;
					color: transparentize(#000, .3);
				}
				&:before {
					content: '\e92a';
					margin-right: 10px;
					font-size: 16px;
					font-weight: 600;
					// :before pseudo should be positioned absolute to the left of the element with a value of width of
					// pseudoelement + padding of original element (or so it seems to be)
					position: absolute;
					left: -27px;
				}
				&:after {
					content: '\e917';
					margin-left: 10px;
					// :after pseudo should be positioned absolute to allow detection of clicks on it
					position: absolute;
				}
			}
			.irs-grid {
				.irs-grid-text {
					&.js-grid-text-0, &:nth-last-of-type(1) {
						&:after {
							content: 'грн';
						}
					}
				}

                .js-grid-text-1,
                .js-grid-text-3,
                .js-grid-text-5,
                .js-grid-text-7 {
                  display: none;
                }
			}
		}
	}
}

.irs {
	height: 55px;
	.irs-line {
		height: 8px;
		top: 33px;
		background: linear-gradient(to bottom, transparent -50%, transparent 150%), #ccc; /* W3C */
		border: none;
		border-radius: 0;
	}
	.irs-min, .irs-max {
		color: #333;
		font-size: 12px;
		line-height: 1.333;
		text-shadow: none;
		top: 0;
		padding: 1px 5px;
		background: rgba(0, 0, 0, 0.1);
		border-radius: 3px;
		-moz-border-radius: 3px;
		display: none;
	}
	.irs-single {
		top: -7px;
		font-size: 17px;
		line-height: 1.333;
		background: transparent;
		color: $colorLink;
	}
}

.irs-grid {
	width: calc(100% - 3px) !important;
	height: 42px;
	bottom: 0;
	left: 0 !important;
	.irs-grid-pol {
		top: 2px;
		opacity: .8;
		width: 3px;
		height: 4px;
		background: #8e8e8e;
		z-index: 1;
		&:first-child, &:nth-last-of-type(2) {
			opacity: 1;
			top: 0;
			height: 8px;
			background: #666;;
		}
	}
	.irs-grid-pol.small {
		display: none;
		height: 8px;
		top: 0;
		background: #8e8e8e;
	}
	.irs-grid-text {
		bottom: 0;
		color: transparentize(#000, .7);
		font-size: 14px;
	}
}

.irs-with-grid {
	height: 75px;
}

.irs-line-left {
	height: 8px;
}

.irs-line-mid {
	height: 8px;
}

.irs-line-right {
	height: 8px;
}

.irs-bar {
	display: none;
}

.irs-bar-edge {
	display: none;
}

.irs-shadow {
	height: 2px;
	top: 38px;
	background: #000;
	opacity: 1;
	border-radius: 5px;
}

.irs-slider {
	top: 22px;
	width: 32px;
	height: 32px;
	border: none;
	background: linear-gradient(to bottom, transparent 0%, transparent 20%, transparent 100%); /* W3C */
	background: $colorLink;
	border-radius: 50%;
	box-shadow: none;
}

.irs-slider.state_hover, .irs-slider:hover {
	background: $colorLink;
}
.irs-line {
	opacity: .5;
}
.irs-shadow {
	top: 33px;
	border-radius: 0;
	height: 8px;
	background: #B5B5B5;
	opacity: .9;
}



