.registration-container{
	width: 340px;
	margin: 35px auto;
	color: $colorTextLight;
	h3{
		text-align: center;
		color: $colorText;
		margin: 0 0 50px;
	}
}
.login-holder{
	text-align: center;
	a{
		color: $colorTextHalf;
		&:hover{
			color: $colorLink;
		}
	}
}