.tabs{
	&.progress-tabs,
	&.borrower-credit-tabs {
		flex-grow:1;
		align-self: stretch;
		display: flex;
		flex-direction: column;
		.loader-holder{
			padding: 0 0 0 464px;
		}
	}
	&__menu {
		display: flex;
		padding: 58px 48px 54px;
		border-bottom: 1px solid $borderColor;
		.borrower-credit-tabs &{
			border: 0;
			padding: 58px 48px 27px;
		}
	}
	.content-holder{
		display: flex;
		height: calc( 100vh - 141px);
		overflow: auto;
		justify-content: center;
	}
	.menu{
		&__item{
			font-size: 1.625em;
			margin: 0 10px 0 0;
			a{
				color: $colorLink;
				padding: 0 8px 8px;
				position: relative;
				&:after{
					content: '';
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 2px;
					background: $colorText;
					@include anim($param: transform);
					transform: rotateY(90deg);
				}
				&:hover{
					color: $colorText;
				}
			}
			&.ui-state-active{
				a{
					color: $colorText;
					&:after{
						transform: rotateY(0deg);
					}
				}
			}
		}
	}
	&__content{
		flex-grow: 1;
		&-item{
			display: flex;
			align-items: center;
			&.payment-tab,&.history-tab{
				align-self: flex-start;
				flex-direction: column;
				width: 100%;
			}
		}
	}
	.progress-container{
		text-align: center;
		max-width: 500px;
		h3{
			&:before {
				content: '\e91a';
				font-family: 'icomoon';
				background: #e2e2e2;
				width: 110px;
				height: 110px;
				line-height: 110px;
				color: #fff;
				font-size: 1.2em;
				display: block;
				margin: 0 auto 53px;
				border-radius: 50%;
			}
		}
		&.cancellation,
		&.not-done{
			h3{
				&:before{
					display: none;
				}
			}
		}
		&.not-done{
			.note{
				color: $colorTextHalf;
				line-height: 1.8;
				font-size: .875em;
			}
		}
	}
	.subtitle {
		padding: 0 45px;
		margin: 0 0 45px;
		line-height: 1.5;
	}
	.link-holder{
		margin: 0 0 20px;
		&:last-child{
			margin:0;
		}
	}
}