
.investor-transfer {
	padding: 30px 9% 0;
	box-sizing: border-box;
	&__bank-services {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		flex-shrink: 0;
		width: 100%;
		padding: 0 10px;
		box-sizing: border-box;
		.bank-item, .remember-bank {
			padding: 0 20px 30px;
			img {
				height: 36px;
			}
		}
		.bank-item {
			position: relative;
			&:before {
				content: '';
				position: absolute;
				bottom: 0;
				width: 0;
				height: 4px;
				background: $colorLink;
				@include anim($param: width, $dur: .15s);
				@include centerize(true, false);
			}
			&.active-bank {
				&:before {
					width: 100%;
				}
			}
		}
	}
	&__card-filling {
		margin-top: 58px;
		h3, .subtitle {
			display: none;
		}
	}
	&__card-holder {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		width: 100%;
		margin-bottom: 30px;
		border-bottom: 1px solid #dbdbdb;
		padding-bottom: 64px;
		.card {
			margin-right: 61px;
			.credit-card__fields {
				margin: 0;
				display: flex;
				flex-flow: row wrap;
				.card-date {
					width: 180px;
					padding-right: 122px;
					box-sizing: border-box;
					.form__caret {
						max-width: 58px;
					}
				}
				.card-cvv {
					margin-left: auto;
				}
				.bank-label {
					position: absolute;
					left: 250px;
					bottom: 39px;
					z-index: 1;
				}
			}
			.button {
				display: none;
			}
		}
		.investment-descr {
			display: flex;
			flex-direction: column;
			justify-content: center;
			&__item {
				display: block;
				margin-bottom: 13px;
				.title, .value {
					display: inline-block;
				}
				.title {
					font-size: .875em;
					color: transparentize(#000, .6);
				}
				.value {
					font-size: 1.5em;
					padding-left: 3px;
					.unit {
						font-size: .6em;
					}
				}
			}
		}
	}
	&__bottom-part {
		text-align: center;
		.to-pay {
			margin-bottom: 26px;
			.title {
				font-size: .875em;
				color: transparentize(#000, .6);
			}
			.value {
				font-size: 1.2em;
				padding-left: 3px;
				.unit {
					font-size: .8em;
				}
			}
			.comission {
				font-size: .9em;
			}
		}
		.transfer-button {
			padding: 23px 67px;
		}
	}
	&__confirmation {
		display: none;
		margin-top: 81px;
		.checking-container {
			h3 {
				margin-bottom: 16px;
				&:before {
					display: none;
				}
			}
			&__subtitle {
				margin-bottom: 53px;
			}
			form {
				width: 118px;
				margin-bottom: 61px;
			}
			.form__button {
				width: auto;
				margin-bottom: 45px;
				padding:23px 63px;
			}
		}
	}
}
