.sidebar-content{
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 58px 30px 47px;
	&.credit-sidebar{
		padding: 58px 60px 100px;
		box-sizing: border-box;
		width:100%;
		@include bp($tablet){
			padding: 58px 30px 100px;
		}
		.progress-bar{
			margin: 0 0 15px;
			&__progress{
				font-size: 1em;
			}
		}
	}
	&.partners{
		padding: 58px 60px 47px;
	}
	&__title{
		font-size: 1.625em;
		padding: 0 27px 26px;
		.progressbar & ,
		.partners &{
			border-bottom: 1px solid $borderColor;
			margin: 0 0 37px;
		}
		.credit-sidebar & {
			padding: 0;
			margin: 0 0 11px;
		}
		.partners & {
			padding: 0 0 26px;
		}
	}
	&__subtitle{
		font-size: .875em;
		color: $colorTextHalf;
		margin: 0 0 58px;
	}
	&__summ-container{
		padding: 0 27px;
		.title{
			font-size: .875em;
			color: $colorTextHalf;
			margin: 0 0 10px;
		}
		.qty{
			font-size:2.875em;
			letter-spacing: -1px;
		}
		.currency{
			font-size: 1.625em;
		}
	}
	&__summ{
		font-size: 1.125rem;
	}
	&__links{
		padding: 0 30px;
		.credit-sidebar & {
			padding: 0;
		}
		li{
			margin: 0 0 23px;
			&:last-child{
				margin: 0;
			}
		}
		a{
			font-size: .875em;
			&:before{
				font-size: 1.9em;
				vertical-align: middle;
				margin: 0 18px 0 0;
			}
			&.icon-pay_credit{
				&:before{
					font-size: 1.5em;
				}
			}
		}
	}
	&__progress-summ-container{
		margin: 0 0 42px;
	}
	&__progress-summ{
		font-size: .875em;
		margin: 0 0 7px;
	}
	&__pay-term{
		margin: 0 0 20px;
		.caption{
			font-size: .875em;
			margin: 0 0 5px;
		}
		.summ{
			font-size: 2.875em;
		}
		sub{
			font-size: 1.625em;
		}
		.button{
			margin: 8px 0 0;
			padding: 17px 0;
			width: 100%;
			box-sizing: border-box;
			text-align: center;
		}
	}
}
.partners{
	&__bonus-title{
		font-size: .875em;
		color: $colorTextHalf;
		position: relative;
		display: inline-block;
		margin: 0 0 8px;
		&:before{
			position: absolute;
			right: -30px;
			top: -4px;
			font-size: 1.5em;
		}
	}
	&__bonus-summ{
		font-size: 2.785em;
		margin: 0 0 37px;
		span{
			font-size: 1.625rem;
		}
	}
	&__total-title{
		font-size: .875em;
		color: $colorTextHalf;
		margin: 0 0 15px;
	}
	&__total-summ{
		font-size: 1.625rem;
		color: $colorTextHalf;
		margin: 0 0 25px;
		span{
			font-size: 1rem;
		}
	}
	&__affilate-title{
		font-size: .875em;
		color: $colorTextHalf;
		margin: 0 0 13px;
	}
	.button{
		padding: 17px 26px;
		margin: 0 0 38px;
	}
	.icon-conditions{
		font-size: .875em;
		&:before{
			font-size:1.7rem;
			margin: 0 17px 0 0;
			vertical-align: middle;
		}
	}
}
.profile{
	@include bp($tablet){
		&__risk-group{
			padding: 0;
		}
		.icon-change_pas{
			margin: 0;
		}
	}
	&__avatar{
		max-width: 181px;
		margin: 0 auto 30px;
		position: relative;
	}
	&__image-holder{
		background-position: 50% 50%;
		background-size: cover;
		border-radius: 50%;
		overflow: hidden;
		position: relative;
		z-index:2;
		&:before{
			content: '';
			display: block;
			padding-top: 100%;
			border-radius: 50%;
		}
	}
	&__edit-link{
		position: absolute;
		left: -35px;
		top: 0;
		width: 58px;
		height: 58px;
		border: 1px solid $borderColor;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		&:before{
			font-size: 1.4em;
		}
	}
	&__name{
		font-size: 1.625em;
		text-align: center;
		margin: 0 0 12px;
	}
	&__id{
		font-size: .875em;
		margin: 0 0 31px;
		color: $colorTextHalf;
		text-align: center;
	}
	&__risk-bar{
		&.progress-bar{
			width: 100%;
			margin: 0 0 19px;
		}
	}
	&__risk-group{
		padding: 0 30px;
	}
	&__risk-title{
		position: relative;
		display: inline-block;
		font-size: .875rem;
		margin: 0 0 16px;
		&:before{
			position: absolute;
			right: -24px;
			top: -3px;
			font-size: 1.3rem;
			color: $colorTextHalf;
			cursor: help;
		}
	}
	.progress-bar__line{
		&.small{
			background: $colorMild;
			width: 33.33%;
		}
		&.normal{
			background: $colorButtonSecond;
			width: 66.66%;
		}
		&.high{
			background: $colorError;
			width: 100%;
		}
	}
	&__risk-status{
		font-weight: 500;
		&.small{
			color: $colorMild;
		}
		&.normal{
			color: $colorButtonSecond;
		}
		&.high{
			color: $colorError;
		}
	}
	.icon-change_pas{
		margin: 0 30px;
		font-size: .875rem;
		&:before{
			font-size: 2rem;
			vertical-align: middle;
			margin: 0 16px 0 0;
		}
	}
}