.is__fixed {
    position: fixed !important;
    overflow: hidden !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
}
.is-sidenav__active {
    pointer-events: auto !important;
    z-index: 1050 !important;
    &:before {
        opacity: 1 !important;
    }
    .sidenav-holder {
        transform: translateX(0) !important;
    }
}
.is-sidenav__animate {
    z-index: 1050 !important;
}

.is-popup__open {
    opacity: 1;
    pointer-events: auto;
    z-index: 250;
    &:before {
        opacity: 1;
    }
    .popup-holder {
        transform: translateX(0);
    }
}
.is-popupbottom__open {
    opacity: 1;
    pointer-events: auto;
    z-index: 250;
    &:before {
        opacity: 1;
    }
    .popup-holder {
        transform: translateY(0);
    }
}
.is-popup__animate {
    z-index: 250;
}

.is-message {
    .notificate {
        display: block !important;
    }
}
.is-highlighted{
    color: $colorButton !important;
    .count {
        display: block;
    }
}
.is-warning {
    border-left: 6px solid #ff0000;
    @include bp($Mobile) {
        border-left-width: 3px;
    }
}
.is-successful {
    border-left: 6px solid #00cf74;
    @include bp($Mobile) {
        border-left-width: 3px;
    }
}
.is-tab__active a {
    color: $colorText !important;
    border-bottom-color: $colorText !important;
}
.is-tabcontent__active {
    display: block !important;
}
.social-list {
    &__item {
        a {
            &.is-checked {
                &:before {
                    background: #fff;
                    border-color: $colorLink;
                    color: $colorLink;
                }
                &:after {opacity: 1;}
            }
        }
    }
}

@keyframes runner {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-150%);
    }
}